<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JustDoIt!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />


</head>

<body>

<div class="container">

    <!-- Left column -->
    <aside class="sidebar">

        <!-- Logo area -->
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/JustDoIt.png}" alt="JustDoIt Logo" width="200" height="200"></a>
        </div>

        <!-- Navigation area -->
        <nav class="navigation">
            <h3>Opciones</h3>
            <ul>
                <li>
                    <strong>Inicio</strong>
                </li>
                <li>
                    <a th:href="@{/user/tasks}">Tareas de usuario actual</a>
                </li>
                <li>
                    <a th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </nav>

    </aside>

    <!-- Right column -->
    <main class="content">
        <h1>Bienvenido a JustDoIt!</h1>

        <!-- Mostrar tarjeta del usuario -->

        <div class="user-card">
            <div class="user-avatar" th:text="${#strings.substring(session.user.name,0,1)}">U</div>
            <div class="user-info">
                <div class="user-name" th:text="${session.user.name}">Nombre Apellido</div>
                <div class="user-meta">Usuario: <span th:text="${session.user.userName}">username</span></div>
                <div class="user-meta">Email: <span th:text="${session.user.email}">email@example.com</span></div>
            </div>
        </div>

    </main>

</div>

</body>
</html>
