<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principios SOLID</title>
</head>
<body>
    <h1>Principios

        <a href="/s">S</a>
        <a href="/o">O</a>
        <a href="/l">L</a>
        <a href="/i">I</a>
        <a href="/d">D</a>

    </h1>
    <p>Las cinco reglas de diseño de software orientado a objetos, desarrolladas para crear código más legible, mantenible, flexible y escalable</p>
</body>
</html>
