<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principio | I | </title>
</head>
<body>
<h1> I - [ Interface Segregation ISR ] </h1>
<p> Principio de Segregación de Interfaces: Advierte que ningún cliente debería verse forzado a depender de métodos o interfaces que no utiliza. Interfaces grandes se deben dividir en interfaces mucho más pequeñas y específicas, de modo que las clases solo implementen exactamente lo que necesitan, reduciendo el acoplamiento y la complejidad.</p>
</body>
</html>
