<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principio | D |</title>
</head>
<body>
<h1> D - [ Dependency Inversion DIR ] </h1>
<p> Principio de Inversión de Dependencias: Enseña que los módulos de alto nivel (la lógica de negocio compleja) no deben depender de los módulos de bajo nivel (operaciones detalladas como leer un archivo o consultar una base de datos), sino que ambos deben depender de abstracciones. El código principal no debe estar sujeto a herramientas o bases de datos específicas; en su lugar, debe comunicarse a través de interfaces, lo que permite cambiar cualquier pieza de bajo nivel sin tener que reescribir la lógica central del programa.</p>
</body>
</html>
