<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principio | L |</title>
</head>
<body>
<h1> L - [ Liskov Substitution LSP] </h1>
<p> Principio de Sustitución de Liskov: Dicta que los objetos de una clase derivada deben poder sustituir a los objetos de su clase base sin que el programa deje de funcionar correctamente. Por ejemplo: Si existe una clase "Pájaro" y una subclase "Pingüino", y el programa espera que todos los pájaros puedan volar, el pingüino rompería este principio.</p>
</body>
</html>
