<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principio | O |</title>
</head>
<body>
<h1> O - [ Open/Closed OCP ] </h1>
<p> Principio de Abierto/Cerrado: Establece que entidades de software, como las clases, módulos o funciones, deben estar abiertas para su extensión, pero cerradas para su modificación. Se deberia poder añadir nuevas funcionalidades a una aplicación sin tener que alterar el código fuente que ya existe y que ya ha sido probado.</p>
</body>
</html>
