<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JustDoIt!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />


</head>

<body>

<div class="container">

    <!-- Left column -->
    <aside class="sidebar">

        <!-- Logo area -->
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/JustDoIt.png}" alt="JustDoIt Logo" width="200" height="200"></a>
        </div>


    </aside>

    <!-- Right column -->
    <main class="content">
        <h1>Bienvenido a JustDoIt!</h1>

        <form th:action="@{/login}" method="post" class="login-form">
            <div>
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" placeholder="Ingrese su usuario" required />
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </form>

    </main>

</div>

</body>
</html>
